* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contenedor {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
    align-items: stretch;
}
/*Columna contacto*/
.contactos {
    display: flex;
    flex-direction: column;
    background: white;
    width: 20%;
    min-width: 308px;
    overflow-y: auto;
    box-shadow: 0 0 10px -2px rgb(0, 0, 0, 0.1);
    z-index: 1;
}
/** usuario Activo **/
.usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E8EBE4;
    align-items: center;
    padding: 10px 25px;
}

.usuario.activo {
    height: inherit;
    max-height: 60px!important;
}

.usuario .imagen-nombre {
    display: flex;
    align-items: center;
}

.usuario .imagen-nombre img {
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #E8EBE4;
}

.usuario .imagen-nombre div {
    display: flex;
    flex-direction: column;
    color: #1B1F21;
    font-size: 16px;
}

.usuario .imagen-nombre div span {
    color: #828485;
    font-size: 10px;
}

.usuario .imagen-nombre div span.mensaje {
    color: #444749;
    font-size: 14px;
}

.usuario .iconos {
    color: #BEC1BB;
    font-size: 19px;
}

.mr-i {
    margin-right: 10px;
}

/** botón nuevo chat */
.nuevo-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    min-height: 130px;
    border-bottom: 1px solid #E8EBE4;
}

.nuevo-chat button {
    background-color: #A491D2;
    color: white;
    appearance: none;
    border: none;
    padding: 15px 45px;
    width: 70%;
    min-width: 215px;
    font-size: 16px;
    cursor: pointer;
}

.nuevo-chat button:hover {
    background-color: #CDC3E6;
}

.nuevo-chat button:focus {
    background-color: #BEC1BB;
}


/** Sección principal **/
.principal {
    background: #f8f8f8;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.principal h1 {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 45px;
}

.principal p {
    line-height: 25px;
}